<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>54DAF7421F8F49D200819AF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54DAF75B1F8F49D200819AF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54DAF7661F8F49D200819AF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
